body {
  margin: 0;
  height: 100vh;
  display: grid;
  padding: 4vh 4vw;
  overflow: hidden;
  place-items: center;
  box-sizing: border-box;
  font: bold 2.4vmin Comic Sans MS, Comic Sans;
  grid-template: "  goal     goal     goal     goal  " auto
                 "   .       open     open      .    " auto
                 "timeline timeline timeline timeline" 20%
                 " sdeck    gdeck    cdeck    qdeck  " 40%
                 /  1fr      1fr      1fr      1fr
}
h1,h2,h3,h4,h5,h6,p { margin: 0 }

#goal { grid-area: goal }
#goalSetDeck { grid-area: sdeck }
#goalGetDeck { grid-area: gdeck }
#quoteDeck { grid-area: qdeck }
#circDeck { grid-area: cdeck; z-index: 1 }
#openCard { grid-area: open }

.deck {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 20vh;
  height: 28vh;
  padding: 2vh;
  display: flex;
  cursor: pointer;
  font-size: 1.7vh;
  border: 1px solid;
  background: white;
  text-align: center;
  align-items: center;
  border-radius: 4vmin;
  box-shadow: var(--hor);
  box-sizing: border-box;
  justify-content: center;
}
.card>p { align-self: flex-end }
.upCard {
  width: 40vh;
  height: 56vh;
}
.bigCard {
  height: 26vh;
  width: 36.4vh;
  /* display: unset; */
  font-size: 1.9vh;
  flex-direction: column;
}
.biggerCard {
  height: 52vh;
  width: 72.8vh;
  font-size: 3.8vh;
}

.animate, .animate>* {
  transition: all 1.5s ease-in-out;
  /* animation: glow 2.5s infinite; */
}
/* @keyframes glow {
  0% { box-shadow: none }
  5% { box-shadow: 0 0 15px 5px yellow }
  75% { box-shadow: 0 0 15px 3px yellow }
  100% { box-shadow: none }
} */

#movingCard {
  position: absolute;
  perspective: 999px;
}
#cardWrap {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg) scale(0.7) rotateZ(90deg);
}
.flipped {
  transform: rotateY(180deg) scale(1.428) rotateZ(90deg);
}

#timeline {
  display: flex;
  grid-area: timeline;
  align-items: center;
  justify-content: center;
}
#line { width: 92vw }
#line, .arrow, .mark {
  height: 1.4vh;
  background: #000;
  border-radius: 99vw;
}
.arrow {
  right: 4vw;
  width: 9vh;
  position: absolute;
  transform-origin: right;
  transform: translateY(.15vw) rotate(35deg);
}
.arrow:first-child {
  transform: translateY(-.15vw) rotate(-35deg);
}
.mark {
  width: 6vh;
  height: .7vh;
  position: absolute;
  transform: translate(calc(var(--turn)*3.4vw), 45%) rotate(90deg);
}
.mark:before, .mark:after {
  width: 2em;
  display: block;
  font-size: 2.1vh;
  position: absolute;
  text-align: center;
  content: attr(data-turn);
  transform: translate(5.4vh, -1.1vh) rotate(-90deg);
}
.mark:after {
  content: attr(data-week);
  transform: translate(-3.6vh, -1.1vh) rotate(-90deg);
}

#glass {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  position: absolute;
}
#glass:not(.active), #off {
  display: none;
}
.hidden { visibility: hidden }

.message {
  width: 60%;
  margin: auto;
  padding: 3vmax;
  font-size: 2.7vh;
  border: 2px solid;
  border-radius: 3vw;
  background: white;
}

.land-top {
  top: 5vh;
  left: 10vw;
  right: 10vw;
  bottom: 60vh;
  position: absolute;
}
.land-top h3 {
  margin-bottom: 1vh;
}

@media (orientation: portrait) {

  body {
    grid-template: "sdeck timeline goal" 1fr
                   "gdeck timeline open" 1fr
                   "cdeck timeline open" 1fr
                   "qdeck timeline  .  " 1fr
                   / 40%    20%    40%
  }
  .card {
    width: 29vw;
    height: 19vw;
    font-size: 2.4vw;
    box-shadow: var(--vert);
  }
  .upCard {
    width: 58vw;
    height: 38vw;
  }
  .bigCard {
    height: 39.2vw;
    width: 28vw;
  }
  .biggerCard {
    height: 78.4vw;
    width: 56vw;
  }
  #line {
    height: 92vh;
    width: 1.4vw;
  }
  .arrow {
    bottom: 4vh;
    height: 9vw;
    width: 1.4vw;
    right: unset;
    transform-origin: bottom;
    transform: translateX(-.15vh) rotate(35deg);
  }
  .arrow:first-child {
    transform: translateX(.15vh) rotate(-35deg);
  }
  .mark {
    width: .7vw;
    height: 6vw;
    position: absolute;
    transform: translate(45%, calc(var(--turn)*3.4vh)) rotate(90deg);
  }
  .mark:before, .mark:after {
    font-size: 2.4vw;
    text-align: left;
    transform: translate(-2.3vw, 6.4vw) rotate(-90deg);
  }
  .mark:after {
    text-align: right;
    transform: translate(-2.3vw, -3.7vw) rotate(-90deg);
  }
  .port-left {
    top: 20vh;
    left: 3vw;
    right: 60vw;
    width: unset;
    bottom: unset;
    font-size: 2.8vw;
    position: absolute;
  }
  .port-left h3 {
    margin-bottom: 1vh;
  }
}